 body {  
    background-color: white; /*color de fondo del body*/  
} 

/*
.cormorant-<uniquifier> {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: italic;
  }
  */


/* BARRA DE NAV. */

.container-fluid{
 background-color: #143d33;
}

.container-fluid img{ /*logo*/
    height: 80px;
}

.navbar{
    font-family: 'cormorant';
    font-style: italic;
    font-weight: bold;
}

.container-fluid a{
    color: rgb(243, 239, 239);
    font-size: 25px;
    text-align: right;
    
}

.container-fluid lu{
    text-align: right;
}

/* PRINCIPAL */

.prod-destacados h2{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.prod-destacados .container{
    padding-bottom: 25px;
}



.prod-destacados img{
    height: 400px;
}


/* FOOTER */

.footer{
    background-color: #143d33;
}

.footer ul{
    list-style: none;
}

.footer img{
    height: 20px;
}

.footer h3{
    font-size: 18px;
    color: white;
    padding-top: 5px;
}
